*{margin:0;padding:0;}
div.left{
    width:265px;
    height:900px;
    background:#000;
    color:#fff;
}
div.logo{
    font:24px MicrosoftYaHei;
}
.nav{
    list-style:none;
    margin-top:20px;
    margin-left:20px;
}
.nav li i{
    width:24px;
    font-size:18px;
    margin-right:5px;
}
.nav li span{
    font-size:14px;
}
.nav #list_ul{
    list-style:none;
    padding-left:40px;
    display:none;
}
.nav ul li{
    font-size:14px;
    height:50px;
    line-height:50px;
}
.active{
    display: block!important;
}